.header {
    height: 92px;
    width: 100%;
    
    // color: #212529;
    background-color: #1f2233;
}

.navigation-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
}
.navigation-item {    
    font-size: 21px;
    color: #FBF4E0;
    padding: 20px;
    cursor: pointer;
    user-select: none;

    &.active {
        color: #E350b8;
    }
}
